* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 6px;
}

body {
  display: flex;
}

img {
  border-radius: 50%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.propic {
  margin-top: 50px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 300%;
  font-style: bold;
  margin-bottom: 50px;
}

.container {
  height: 100%;
  width: 100%;
  margin: auto;
}

.sidenav {
  height: 100%;
  width: 22%;
  float: left;
  position: fixed;
  z-index: 999; 
  top: 0;
  left: 0;
  background-color: #D5d4d0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  text-align: center;
} 

.nav-links li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 1px;
}

.link { 
  color: black;
  text-decoration: none !important;
} 

.project-link {
  color: #B82130; 
  font-size: 32px;
}

.link:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

.page {
  height: 100%;
  margin-left: 22%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  margin-bottom: 5%;
  align-content: center;
  text-align: left;
}

.section-header {
  font-family: 'Montserrat:800', sans-serif;
  font-weight: 400;
  font-size: 350%;
  padding-top: 15%;
}

.section {
  margin-top: 2%;
  font-family: 'Varela Round', sans-serif;
  font-weight: 300;
  font-size: 150%;
  margin-bottom: 35%;
}

.project-comment {
  font-size: 12px;
  font-style: italic;
}